@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS using Tailwind's @layer directive */
@layer utilities {
  /* Add your custom utility classes here */
  /* Example: .custom-shadow { box-shadow: ... } */
}

@layer components {
  /* Add your custom component classes here */
  /* Example: .custom-button { ... } */
}

/* Reset any potential conflicting styles */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  font-family:
    Open Sans,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'Russell';
  src: url('./assets/fonts/RussellRg.otf');
}

/* Orbitron Variable Font */
@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/orbitron-variablefont_wght-webfont.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Asimovian Font */
@font-face {
  font-family: 'Asimovian';
  src: url('./assets/fonts/asimovian-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
